*{
    margin: 0;
    padding: 0;
  }
  .header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: skyblue;
    height: 10vh;
  }
   :link{
     text-decoration: none;
     
  }
  .h4{
    margin-right: 40px;
  }
  .active{
    color: red;
    text-decoration: underline;
  }
  .profilePic{
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    
  }
  
  .container{
    display: flex;
     gap: 80px; 
     justify-content: center;
     align-items: center;
  }
  .hob{
    background-color:skyblue;
    width: 200px;
    display: block;
  }
  .right-div-child{
  display: flex;
  gap: 50px;
  }
  .right-div{
    display: grid;
    gap: 30px;
  }
  .left-div{
    margin-top: 40px;
  }
  .heading{
    margin-left: 45px;
  }